<div class="videoStreamContainer">
  <div *ngIf="!errors.length" style="text-align:center">
    <div *ngIf="hasCamera; else noCamera">
      <webcam
        [height]="400"
        [width]="400"
        [trigger]="triggerObservable"
        (imageCapture)="handleImage($event)"
        *ngIf="showWebcam"
        [allowCameraSwitch]="allowCameraSwitch"
        [switchCamera]="nextWebcamObservable"
        [videoOptions]="videoOptions"
        (cameraSwitched)="cameraWasSwitched($event)"
        (initError)="handleInitError($event)"
      ></webcam>
      <br />

      <div *ngIf="isImageCaptured" class="captured-image">
        <img [src]="webcamImage?.imageAsDataUrl" />
      </div>
    </div>

    <div>
      <button class="pictureBtn" (click)="triggerCamera()" *ngIf="!webcamImage">Take Picture</button>
      <button class="actionBtn" (click)="saveImageLocally()" *ngIf="webcamImage">
        Save Image
      </button>
    </div>

    <div>
      <button *ngIf="!webcamImage && multipleWebcams" class="actionBtnSwitch" (click)="showNextWebcam(true)">
        Switch Camera
      </button>

      <button class="actionBtn" (click)="removeImage()" *ngIf="webcamImage">Remove Image</button>
    </div>
  </div>

  <!-- <div *ngIf="isCameraAccessDenied">
    <p>{{ cameraErrorMessage }}</p>
  </div> -->

  <!-- <div *ngIf="!showWebcam && !isImageCaptured && !isCameraAccessDenied">
    <p *ngIf="!allowCameraSwitch">Please give access to camera.</p>
  </div> -->
  
  <div *ngIf="isCameraAccessDenied" class="error-message">
    <div class="dotted-square">
      <p>Please give access to camera.</p>
    </div>
  </div>

  <!-- <ul *ngFor="let error of errors">
    <li>{{ error.message}}</li>
  </ul> -->
  
  <ng-template #noCamera>
    No camera found
  </ng-template>
  
</div>
