@import '~@fortawesome/fontawesome-free/css/all.css';

.captured-image {
  width: 400px;
  height: 400px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  display: flex;
} 

.captured-image img {
  max-width: 390px;
  max-height: 390px;
}

.cameraContainer , .cameraContainer div{
  display: flex;
  align-items: center;
  justify-content: center;

}

.cameraContainer div{
  border: 2px solid #2389d7;
  border-radius: 5px;
  width: 400px;
  height: 300px;

}

.pictureBtn{
  width: 70px;
  height: 70px;
  border-radius: 70px;
  background-color: #2389d7;
  color: white;
  cursor: pointer;
  font-size: 16px;
} 

.captureBtn{
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid black;
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top: 5px;
}

.captureBtn:hover{
  cursor: pointer;
  background: black;
}

.fa-circle:hover{
  color: white;
}


.fa-circle{
  font-size: 60px;
}

.centerIcon{
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.actionBtn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  margin-top: 20px;
}

.actionBtn:hover {
  background-color: #2980b9;
}

.error-message {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 400px; 
  border: 3px dotted hsl(0, 1%, 52%); 
  margin: 20px auto; 
}

.error-message {
  text-align: center;
  font-size: 16px;
  color: #0e0d0d;
}

